//----------------------------------------------
// Display Shard
//----------------------------------------------

// Find more information on the wiki:
// https://yalter.github.io/niri/Configuration:-Outputs

// Remember to uncomment the node by removing "/-"!
output "eDP-1" {
    // Uncomment this line to disable this output.
    // off
    mode "1920x1080@120.030"
    scale 1
    transform "normal"
    position x=1280 y=0
}
output "HDMI-A-1" {
    // Uncomment this line to disable this output.
    // off
    mode "1920x1080@120.030"
    scale 2
    transform "normal"
    position x=1280 y=0
}